* {
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(59, 39, 74);
}
.nav__item {
   color: rgb(255, 255, 255);
}
.logo__title {
    color: rgba(255, 255, 255, 0.8);
    font-family: Lobster;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
.container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
}
.logo {
    display: flex;
    align-items: center;
}
.logo__title {
    color: rgb(255, 255, 255);
    font-family: Lobster;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.nav__list {
    display: flex;
    list-style: none;
}
.hero-block {
    background: linear-gradient(180.00deg, rgb(81, 59, 97) 100%,rgba(81, 59, 97, 0) 100%);
}
.container_hero-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}
.nav__item {
    color: rgb(255, 255, 255);
    font-family: Lobster;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-right: 63px;
}
.hero-block__title {
    color: aliceblue;
    font-family: Lobster;
    font-size: 72px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 30px;
}
.hero-block__text {
    color: rgb(228, 228, 228);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 30px;
}
.hero-block__link {
    border-radius: 6px;
    background: linear-gradient(135.00deg, rgb(255, 255, 255),rgb(199, 119, 230) 100%);
    padding: 14px 22px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Nico Moji;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
      text-align: left;
}
.hero-block__content {
    max-width: 453px;
}
.about {
    background: linear-gradient(180.00deg, rgb(81, 59, 97) 100%,rgba(81, 59, 97, 0) 100%);
}
.container__about {
    padding: 60px 0 40px;
}
.about__title {
    color: rgb(255, 255, 255);
    font-family: Lobster;
    font-size: 48px;
    text-align: center;
}
.line__out {
    background: rgb(59, 39, 74);
    width: 356px;
    height: 10px;
}
.line__in1 {
    width: 300px;
    height: 10px;
    background: rgb(255, 255, 255);
}
.line__in2 {
    width: 356px;
    height: 10px;
    background: rgb(255, 255, 255);
}
.line__in3 {
    width: 150px;
    height: 10px;
    background: rgb(255, 255, 255);
}
.about__text {
    margin-bottom: 72px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 30px;
}
.about__item {
    margin-bottom: 35px;
}
.line__title {
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 30px;
    margin-bottom: 10px;
}
.about__list {
    list-style: none;
}
.video {
    background: linear-gradient(180.00deg, rgb(81, 59, 97) 100%,rgba(81, 59, 97, 0) 100%);
}
.video__title {
    color: rgb(255, 255, 255);
    font-family: Lobster;
    font-size: 48px;
    text-align: center;
    margin-bottom: 46px;
}
.container_video {
    padding: 65 0 94px;
}
.video__video {
    width: 100%;
    height: 561px;
    border: 50px rgb(59, 39, 74) solid;
    border-radius: 29px;
    box-sizing: border-box;
}
.gallery {
    background: linear-gradient(180.00deg, rgb(81, 59, 97) 100%,rgba(81, 59, 97, 0) 100%);
}
.gallery__title {
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 48px;
    text-align: center;
    margin-bottom: 65px;
}
.gallery__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.gallery__item {
    width: 434px;
    margin: 5px;
}
.gallery__img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
footer {
    background-color: rgb(59, 39, 74);
    padding: 50px 0 50px;
}
.footer__title {
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 25px;
}
.footer__text {
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__list {
    list-style: none;
    display: flex;
    gap: 40px;
}
.footer__list-item {
    width: 50px;
    height: 50px;
}
.footer__img {
    width: 100%;
    height: 50px;
    object-fit: cover;
}